/* Style Sheet */

body {
	background-image: url("http://i.imgur.com/z5XQSWo.png");
}

.header-background {
	background-color: purple;
  	opacity: 0.2;
  	padding: 50px;
}

.game-board {
	width: 95%;
	background-color: red;
	margin-right: auto;
	margin-left: auto;
}

.track1 {
	width: 95%;
	background-color: white;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.startPos1 {
	background-color: black;
	width: 350px;
	float: left;
}


.track2 {
	width: 95%;
	background-color: white;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.finish-line {
	background-color: blue;
	width: 50px;
	float: right;
	position: relative;
	right: 0;
}



